@using AdminNtcx.Domain.Entities
@model IEnumerable<UserInfo>

@{
    ViewBag.Title = "系统管理";
    ViewBag.SubTitle = "用户管理";
}

<!-- 高亮显示当前选中的菜单 -->
@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}


@section Css{
    @Styles.Render("~/AdminLTE/plugins/datatables/css")
    @Styles.Render("~/AdminLTE/plugins/icheck/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
}


<!-- 内容页 Main content -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <table class="table no-border text-center" style="width:200px">
                    <tr>
                        <td>
                            @Html.ActionLink("添加用户", "Create", null, new { @class = "btn btn-block btn-primary btn-sm" })
                        </td>
                        <td>
                            @Html.ActionLink("批量删除", "Delete", null, new { @class= "btn btn-block btn-danger btn-sm"}) 
                        </td>
                    </tr>
                    </table>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:30px"><input type="checkbox" class="minimal" id="checkAll"></th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>密码</th>
                            <th style="width:150px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="minimal"></td>
                                <td>@item.UserName</td>
                                <td>@item.RealName</td>
                                <td>@item.Password</td>
                                <td>
                                    @Html.ActionLink("编辑", "Edit", new { userID = item.UserID },new { @class = "btn btn-sm btn-primary" })
                                    @Html.ActionLink("删除", "Delete", new { userID = item.UserID }, new { @class = "btn btn-sm btn-danger", onclick = "return confirm('确认删除?')" })
                                    @Html.ActionLink("重置密码", "ResetPassword", new { userID = item.UserID }, new { @class = "btn btn-sm btn-default", onclick = "return confirm('重置密码为123456?')" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.content -->


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
}
